In [105]:
# import geopy.distance
from geopy.distance import distance

from geopy import Point

In [106]:
import pandas as pd
import numpy as np
from pprint import pprint
from datetime import datetime

In [107]:
#Calculate trip distance, as the crow flies 2018
jan2018 = pd.read_csv("JC-201801.csv")
feb2018 = pd.read_csv("JC-201802.csv")
mar2018 = pd.read_csv("JC-201803.csv")
apr2018 = pd.read_csv("JC-201804.csv")
may2018 = pd.read_csv("JC-201805.csv")
jun2018 = pd.read_csv("JC-201806.csv")
jul2018 = pd.read_csv("JC-201807.csv")
aug2018 = pd.read_csv("JC-201808.csv")
sep2018 = pd.read_csv("JC-201809.csv")
oct2018 = pd.read_csv("JC-201810.csv")
nov2018 = pd.read_csv("JC-201811.csv")
dec2018 = pd.read_csv("JC-201812.csv")
df2018 = pd.concat([jan2018, feb2018, mar2018, apr2018,may2018, jun2018, jul2018, aug2018, sep2018, oct2018, nov2018, dec2018])
#rename some columns to make later code easier to type
df2018.rename({"start station latitude":"startLat","start station longitude":"startLong", "end station latitude":"endLat","end station longitude": "endLong", "birth year":"birthyear"}, axis = 'columns', inplace = True)
#create new columns that combine the lat/long as a point
df2018['startGeo'] = df2018.apply(lambda row: Point(latitude=row["startLat"], longitude = row["startLong"]), axis =1)
df2018['endGeo'] = df2018.apply(lambda row: Point(latitude=row["endLat"], longitude = row["endLong"]), axis =1)
# use the points to calculate straight-line distance
# adding a 20% bonus to the distance since few, if any will be straight line trips.  (this factor is purely guestimate )
df2018['tripDistMiles'] = df2018.apply(lambda row: distance(row['startGeo'], row['endGeo']).miles , axis=1) *1.2

# Divide distance by (seconds/3600) to get MPH
df2018['averageSpeed'] = df2018['tripDistMiles'] / (df2018['tripduration'] /3600 )

df2018.head()

,tripduration,starttime,stoptime,start station id,start station name,startLat,startLong,end station id,end station name,endLat,endLong,bikeid,usertype,birthyear,gender,startGeo,endGeo,tripDistMiles,averageSpeed
0,932,2018-01-01 02:06:17.5410,2018-01-01 02:21:50.0270,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31929,Subscriber,1992,1,"40 42m 58.4888s N, 74 2m 0.45168s W","40 43m 43.4813s N, 74 1m 55.5895s W",1.038353,4.010807
1,550,2018-01-01 12:06:18.0390,2018-01-01 12:15:28.4430,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31845,Subscriber,1969,2,"40 42m 58.4888s N, 74 2m 0.45168s W","40 43m 43.4813s N, 74 1m 55.5895s W",1.038353,6.796496
2,510,2018-01-01 12:06:56.9780,2018-01-01 12:15:27.8100,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31708,Subscriber,1946,1,"40 42m 58.4888s N, 74 2m 0.45168s W","40 43m 43.4813s N, 74 1m 55.5895s W",1.038353,7.329554
3,354,2018-01-01 14:53:10.1860,2018-01-01 14:59:05.0960,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,31697,Subscriber,1994,1,"40 42m 58.4888s N, 74 2m 0.45168s W","40 42m 44.7078s N, 74 2m 18.6919s W",0.449867,4.574922
4,250,2018-01-01 17:34:30.1920,2018-01-01 17:38:40.9840,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,31861,Subscriber,1991,1,"40 42m 58.4888s N, 74 2m 0.45168s W","40 43m 9.30612s N, 74 2m 3.2424s W",0.253554,3.651176

In [108]:
##Calculate trip distance, as the crow flies 2019
# jan2019 = pd.read_csv("JC-201901.csv")
jan2019 = pd.read_csv("JC-201901.csv")
feb2019 = pd.read_csv("JC-201902.csv")
mar2019 = pd.read_csv("JC-201903.csv")
apr2019 = pd.read_csv("JC-201904.csv")
may2019 = pd.read_csv("JC-201905.csv")
jun2019 = pd.read_csv("JC-201906.csv")
jul2019 = pd.read_csv("JC-201907.csv")
aug2019 = pd.read_csv("JC-201908.csv")
sep2019 = pd.read_csv("JC-201909.csv")
oct2019 = pd.read_csv("JC-201910.csv")
nov2019 = pd.read_csv("JC-201911.csv")
dec2019 = pd.read_csv("JC-201912.csv")
df2019 = pd.concat([jan2019, feb2019, mar2019, apr2019,may2019, jun2019, jul2019, aug2019, sep2019, oct2019, nov2019, dec2019])
#rename some columns to make later code easier to type
df2019.rename({"start station latitude":"startLat","start station longitude":"startLong", "end station latitude":"endLat","end station longitude": "endLong","birth year":"birthyear"}, axis = 'columns', inplace = True)
#create new columns that combine the lat/long as a point
df2019['startGeo'] = df2019.apply(lambda row: Point(latitude=row["startLat"], longitude = row["startLong"]), axis =1)
df2019['endGeo'] = df2019.apply(lambda row: Point(latitude=row["endLat"], longitude = row["endLong"]), axis =1)
#use the points to calculate straight-line distance
df2019['tripDistMiles'] = df2019.apply(lambda row: distance(row['startGeo'], row['endGeo']).miles , axis=1) * 1.2

# Divide distance by (seconds/3600) to get MPH
df2019['averageSpeed'] = df2019['tripDistMiles'] / (df2019['tripduration'] /3600 )

df2019.head()

,tripduration,starttime,stoptime,start station id,start station name,startLat,startLong,end station id,end station name,endLat,endLong,bikeid,usertype,birthyear,gender,startGeo,endGeo,tripDistMiles,averageSpeed
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1,"40 42m 58.4888s N, 74 2m 0.45168s W","40 42m 45.9871s N, 74 2m 11.3485s W",0.345043,6.179873
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2,"40 42m 58.4888s N, 74 2m 0.45168s W","40 43m 27.4588s N, 74 2m 7.73736s W",0.678419,4.836255
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1,"40 42m 58.4888s N, 74 2m 0.45168s W","40 42m 40.4723s N, 74 3m 20.5247s W",1.461388,6.958988
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0,"40 42m 58.4888s N, 74 2m 0.45168s W","40 43m 27.4588s N, 74 2m 7.73736s W",0.678419,1.550672
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0,"40 42m 58.4888s N, 74 2m 0.45168s W","40 43m 27.4588s N, 74 2m 7.73736s W",0.678419,1.559584

In [109]:
##Calculate trip distance, as the crow flies 2020
# jan2020 = pd.read_csv("JC-202001.csv")
jan2020 = pd.read_csv("JC-202001.csv")
feb2020 = pd.read_csv("JC-202002.csv")
mar2020 = pd.read_csv("JC-202003.csv")
apr2020 = pd.read_csv("JC-202004.csv")
may2020 = pd.read_csv("JC-202005.csv")
jun2020 = pd.read_csv("JC-202006.csv")
jul2020 = pd.read_csv("JC-202007.csv")
aug2020 = pd.read_csv("JC-202008.csv")
sep2020 = pd.read_csv("JC-202009.csv")
oct2020 = pd.read_csv("JC-202010.csv")
nov2020 = pd.read_csv("JC-202011.csv")
dec2020 = pd.read_csv("JC-202012.csv")
df2020 = pd.concat([jan2020, feb2020, mar2020, apr2020,may2020, jun2020, jul2020, aug2020, sep2020, oct2020, nov2020, dec2020])
#rename some columns to make later code easier to type
df2020.rename({"start station latitude":"startLat","start station longitude":"startLong", "end station latitude":"endLat","end station longitude": "endLong","birth year":"birthyear" }, axis = 'columns', inplace = True)
#create new columns that combine the lat/long as a point
df2020['startGeo'] = df2020.apply(lambda row: Point(latitude=row["startLat"], longitude = row["startLong"]), axis =1)
df2020['endGeo'] = df2020.apply(lambda row: Point(latitude=row["endLat"], longitude = row["endLong"]), axis =1)
#use the points to calculate straight-line distance
df2020['tripDistMiles'] = df2020.apply(lambda row: distance(row['startGeo'], row['endGeo']).miles , axis=1) *1.2

# Divide distance by (seconds/3600) to get MPH
df2020['averageSpeed'] = df2020['tripDistMiles'] / (df2020['tripduration'] /3600 )

df2020.head()

,tripduration,starttime,stoptime,start station id,start station name,startLat,startLong,end station id,end station name,endLat,endLong,bikeid,usertype,birthyear,gender,startGeo,endGeo,tripDistMiles,averageSpeed
0,226,2020-01-01 00:04:50.1920,2020-01-01 00:08:37.0370,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,29444,Subscriber,1984,2,"40 43m 10.51s N, 74 2m 35.2229s W","40 43m 17.4905s N, 74 2m 46.6964s W",0.257085,4.095160
1,377,2020-01-01 00:16:01.6700,2020-01-01 00:22:19.0800,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,26305,Subscriber,1989,2,"40 43m 10.51s N, 74 2m 35.2229s W","40 43m 33.6422s N, 74 3m 1.40016s W",0.702087,6.704275
2,288,2020-01-01 00:17:33.8770,2020-01-01 00:22:22.4420,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,29268,Customer,1989,1,"40 43m 10.51s N, 74 2m 35.2229s W","40 43m 33.6422s N, 74 3m 1.40016s W",0.702087,8.776082
3,435,2020-01-01 00:32:05.9020,2020-01-01 00:39:21.0660,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29278,Customer,1969,0,"40 43m 51.2296s N, 74 3m 50.0855s W","40 43m 9.41592s N, 74 4m 16.5428s W",1.067377,8.833468
4,231,2020-01-01 00:46:19.6780,2020-01-01 00:50:11.3440,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,29276,Subscriber,1983,2,"40 43m 10.51s N, 74 2m 35.2229s W","40 42m 52.5025s N, 74 2m 34.1414s W",0.414618,6.461585

In [110]:
# Turns out I need to do this to clean up birhtdays in the 1800's
# edit Moved above
# df2020.rename({"birth year":"birthyear"}, axis = 'columns', inplace = True)
# df2018.rename({"birth year":"birthyear"}, axis = 'columns', inplace = True)
# df2019.rename({"birth year":"birthyear"}, axis = 'columns', inplace = True)
# df2020.head()

In [128]:
# Drop any users < 100 years old.  Should probably knock it down to 90+
df2020.drop(df2020[df2020.birthyear < 1920].index, inplace=True)
df2018.drop(df2018[df2018.birthyear < 1918].index, inplace=True)
df2019.drop(df2019[df2019.birthyear < 1919].index, inplace=True)

In [147]:
# Drop any rows that have an averages speed greater than 25mph, they 
# probably were result of bike being thrown in a truck and moved between
# stations without being logged off sytem.  Realistically anything > than 18 should be filtered out
df2020.drop(df2020[df2020.averageSpeed >25].index, inplace=True)
df2018.drop(df2018[df2018.averageSpeed >25].index, inplace=True)
df2019.drop(df2019[df2019.averageSpeed >25].index, inplace=True)
fastestSpeed2018 =df2018['averageSpeed'].max()
avgSpeed2018 = df2018['averageSpeed'].mean()
fastestSpeed2019 =df2019['averageSpeed'].max()
avgSpeed2019 = df2019['averageSpeed'].mean()
fastestSpeed2020 =df2020['averageSpeed'].max()
avgSpeed2020 = df2020['averageSpeed'].mean()

In [130]:
# Check to make sure there are only 2 types of users
print(f' 2018 user types {df2018["usertype"].unique()}')
print(f' 2019 user types {df2019["usertype"].unique()}')
print(f' 2020 user types {df2020["usertype"].unique()}')

 2018 user types ['Subscriber' 'Customer']
 2019 user types ['Subscriber' 'Customer']
 2020 user types ['Subscriber' 'Customer']

In [131]:
#Count how many subscribers
subscount2018 = len(df2018.loc[df2018["usertype"]=="Subscriber"])
subscount2019 = len(df2019.loc[df2019["usertype"]=="Subscriber"])
subscount2020 = len(df2020.loc[df2020["usertype"]=="Subscriber"])

print(f'Jersey City had {subscount2018} subscribers in 2018')
print(f'Jersey City had {subscount2019} subscribers in 2019')
print(f'Jersey City had {subscount2020} subscribers in 2020')

Jersey City had 330425 subscribers in 2018
Jersey City had 360320 subscribers in 2019
Jersey City had 231377 subscribers in 2020

In [132]:
# Count the day passses
custcount2018 = len(df2018.loc[df2018["usertype"]=="Customer"])
custcount2019 = len(df2019.loc[df2019["usertype"]=="Customer"])
custcount2020 = len(df2020.loc[df2020["usertype"]=="Customer"])
print(f'Jersey city had {custcount2018} day pass users in 2018')
print(f'Jersey city had {custcount2019} day pass users in 2020')
print(f'Jersey city had {custcount2020} day pass users in 2020')

Jersey city had 22106 day pass users in 2018
Jersey city had 42851 day pass users in 2020
Jersey city had 105218 day pass users in 2020

In [133]:
countRow2018 = df2018.shape[0]
countRow2019 = df2019.shape[0]
countRow2020 = df2020.shape[0]
print(f'The 2018 file has {countRow2018} rows')
print(f'The 2019 file has {countRow2019} rows')
print(f'The 2020 file has {countRow2020} rows')

The 2018 file has 352531 rows
The 2019 file has 403171 rows
The 2020 file has 336595 rows

In [134]:
print(f'{round(subscount2018 / (countRow2018) * 100, 2)} of riders in 2018 were Subscribers')
print(f'{round(custcount2018 / (countRow2018) * 100, 2)} of riders in 2018 were Day Pass users\n')
print(f'{round(subscount2019 / (countRow2019) * 100, 2)} of riders in 2019 were Subscribers')
print(f'{round(custcount2019 / (countRow2019) * 100, 2)} of riders in 2019 were Day Pass users\n')
print(f'{round(subscount2020 / (countRow2020) * 100, 2)} of riders in 2020 were Subscribers')
print(f'{round(custcount2020 / (countRow2020) * 100, 2)} of riders in 2020 were Day Pass users\n')

93.73 of riders in 2018 were Subscribers
6.27 of riders in 2018 were Day Pass users

89.37 of riders in 2019 were Subscribers
10.63 of riders in 2019 were Day Pass users

68.74 of riders in 2020 were Subscribers
31.26 of riders in 2020 were Day Pass users

In [135]:
#Count of male trips
maletrips2018 = len(df2018.loc[df2018["gender"]==1])
maletrips2019 = len(df2019.loc[df2019["gender"]==1])
maletrips2020 = len(df2020.loc[df2020["gender"]==1])

In [136]:
#count of female trips
femaletrips2018 = len(df2018.loc[df2018["gender"]==2])
femaletrips2019 = len(df2019.loc[df2019["gender"]==2])
femaletrips2020 = len(df2020.loc[df2020["gender"]==2])

In [137]:
# unknown trips
unknowntrips2018 = len(df2018.loc[df2018["gender"]==0])
percentMale2018 = round(maletrips2018 / (maletrips2018 + femaletrips2018) * 100, 2)
percentFemale2018 = round(100 - percentMale2018, 2)
print(f'\n----2018----')
print(f'Male renters   {maletrips2018}')
print(f'Female renters  {femaletrips2018}')
print(f'Unknown gender  {unknowntrips2018}')
print(f'Male Trips         {percentMale2018}%')
print(f'Female Trips       {percentFemale2018}%')

# unknown trips 2019
unknowntrips2019 = len(df2019.loc[df2019["gender"]==0])
percentMale2019 = round(maletrips2019 / (maletrips2019 + femaletrips2019) * 100, 2)
percentFemale2019 = round(100 - percentMale2019, 2)
print(f'\n----2019----')
print(f'Male renters   {maletrips2019}')
print(f'Female renters  {femaletrips2019}')
print(f'Unknown gender  {unknowntrips2019}')
print(f'Male Trips         {percentMale2019}%')
print(f'Female Trips       {percentFemale2019}%')

# unknown trips 2020
unknowntrips2020 = len(df2020.loc[df2020["gender"]==0])
percentMale2020 = round(maletrips2020 / (maletrips2020 + femaletrips2020) * 100, 2)
percentFemale2020 = round(100 - percentMale2020, 2)
print(f'\n----2020----')
print(f'Male renters   {maletrips2020}')
print(f'Female renters  {femaletrips2020}')
print(f'Unknown gender  {unknowntrips2020}')
print(f'Male Trips         {percentMale2020}%')
print(f'Female Trips       {percentFemale2020}%')

----2018----
Male renters   256239
Female renters  75067
Unknown gender  21225
Male Trips         77.34%
Female Trips       22.66%

----2019----
Male renters   285254
Female renters  91749
Unknown gender  26168
Male Trips         75.66%
Female Trips       24.34%

----2020----
Male renters   199689
Female renters  84751
Unknown gender  52155
Male Trips         70.2%
Female Trips       29.8%

In [138]:
countRow2018 = df2018.shape[0]
countRow2019 = df2019.shape[0]
countRow2020 = df2020.shape[0]
print(f'The 2018 file has {countRow2018} rows')
print(f'The 2019 file has {countRow2019} rows')
print(f'The 2020 file has {countRow2020} rows')

The 2018 file has 352531 rows
The 2019 file has 403171 rows
The 2020 file has 336595 rows

In [139]:
if countRow2018 == (maletrips2018 + femaletrips2018 + unknowntrips2018):
    print("everything matches in 2018")
else:
    print("Something is wrong in 2018")
if countRow2019 == (maletrips2019 + femaletrips2019 + unknowntrips2019):
    print("everything matches in 2019")
else:
    print("Something is wrong in 2019")
if countRow2020 == (maletrips2020 + femaletrips2020 + unknowntrips2020):
    print("everything matches in 2020")
else:
    print("Something is wrong in 2020")

everything matches in 2018
everything matches in 2019
everything matches in 2020

In [140]:
if countRow2018 == (subscount2018 + custcount2018):
    print("everything matches in 2018")
else:
    print("Something is wrong in 2018")
if countRow2019 == (subscount2019 + custcount2019):
    print("everything matches in 2019")
else:
    print("Something is wrong in 2019")
if countRow2020 == (subscount2020 + custcount2020):
    print("everything matches in 2020")
else:
    print("Something is wrong in 2020")

everything matches in 2018
everything matches in 2019
everything matches in 2020

In [148]:
totalMiles2018 = df2018['tripDistMiles'].sum()
avgTrip2018 = df2018['tripDistMiles'].mean()
avgTime2018 = df2018['tripduration'].mean()
totalMiles2019 = df2019['tripDistMiles'].sum()
avgTrip2019 = df2019['tripDistMiles'].mean()
avgTime2019 = df2019['tripduration'].mean()
totalMiles2020 = df2020['tripDistMiles'].sum()
avgTrip2020 = df2020['tripDistMiles'].mean()
avgTime2020 = df2020['tripduration'].mean()
print(f'----2018----')
print(f'Users rode {round(totalMiles2018, 2)} miles in Jersey City')
print(f'The average trip was {round(avgTrip2018, 2)} miles long and took {int(round(avgTime2018/60))} minutes')
print(f'The fastest average speed on a trip was {round(fastestSpeed2018, 2)} MPH')
print(f'The average trip speed in Jersey City was {round(avgSpeed2018, 2)} MPH')
print(f'\n----2019----')
print(f'Users rode {round(totalMiles2019, 2)} miles in Jersey City')
print(f'The average trip was {round(avgTrip2019, 2)} miles long and took {int(round(avgTime2019/60))} minutes')
print(f'The fastest average speed on a trip was {round(fastestSpeed2019, 2)} MPH')
print(f'The average trip speed in Jersey City was {round(avgSpeed2019, 2)} MPH')
print(f'\n----2020----')
print(f'Users rode {round(totalMiles2020, 2)} miles in Jersey City')
print(f'The average trip was {round(avgTrip2020, 2)} miles long and took {int(round(avgTime2020/60))} minutes')
print(f'The fastest average speed on a trip was {round(fastestSpeed2020, 2)} MPH')
print(f'The average trip speed in Jersey City was {round(avgSpeed2020, 2)} MPH')

----2018----
Users rode 255633.53 miles in Jersey City
The average trip was 0.73 miles long and took 11 minutes
The fastest average speed on a trip was 18.44 MPH
The average trip speed in Jersey City was 6.83 MPH

----2019----
Users rode 296438.18 miles in Jersey City
The average trip was 0.74 miles long and took 12 minutes
The fastest average speed on a trip was 20.07 MPH
The average trip speed in Jersey City was 6.74 MPH

----2020----
Users rode 254483.46 miles in Jersey City
The average trip was 0.76 miles long and took 26 minutes
The fastest average speed on a trip was 17.81 MPH
The average trip speed in Jersey City was 4.96 MPH

In [161]:
print(df2018['birthyear'].min())
print(df2019['birthyear'].min())
print(df2020['birthyear'].min())
avgbirthyr2018 = (df2018['birthyear'].mean())
avgbirthyr2019 = (df2019['birthyear'].mean())
avgbirthyr2020 = (df2020['birthyear'].mean())
print(f'Average Renter\'s age in 2018 was {round(2018 - avgbirthyr2018)}')
print(f'Average Renter\'s age in 2019 was {round(2019 - avgbirthyr2019)}')
print(f'Average Renter\'s age in 2020 was {round(2020 - avgbirthyr2020)}')

1931
1940
1920
Average Renter's age in 2018 was 38
Average Renter's age in 2019 was 38
Average Renter's age in 2020 was 39

In [143]:
# bikeID = jan2018['bikeid'].value_counts()
bikeID2018 = df2018['bikeid']
bikeID2019 = df2019['bikeid']
bikeID2020 = df2020['bikeid']
bikeID2018.head()
bikeID2019.head()
bikeID2020.head()

0    29444
1    26305
2    29268
3    29278
4    29276
Name: bikeid, dtype: int64

In [144]:
bikeCount2018 = bikeID2018.value_counts()
bikeCount2019 = bikeID2019.value_counts()
bikeCount2020 = bikeID2020.value_counts()

In [145]:
bikeCount2018.to_csv(r'2018 bikecount.csv')
bikeCount2019.to_csv(r'2019 bikecount.csv')
bikeCount2020.to_csv(r'2020 bikecount.csv')
df2018.to_csv(r'2018stats.csv')
df2019.to_csv(r'2019stats.csv')
df2020.to_csv(r'2020stats.csv')

In [146]:
bikeID2018[1]

1    31845
1    29641
1    29465
1    31847
1    29288
1    26221
1    29204
1    29791
1    29667
1    29654
1    29254
1    26175
Name: bikeid, dtype: int64